:root {
    font-family: sans-serif;
    color: rgb(48, 48, 48);
}

.tab > :link{
    color: inherit;
    text-decoration: inherit;
}

.tab > :visited{
    color: inherit;
    text-decoration: inherit;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.nav-bar {
    height: 3em;
    width: 100% - 1em;
    display: flex;
    flex-direction: row;
    background-color: rgb(215, 177, 255);
    padding: 0.5em;
    margin: 0;
    justify-content: center;
    position: sticky;
    top: 0;
}

.tab {
    display: flex;
    align-items: center;
    margin: 0.5em;
    border: 0.2em, solid, rgb(199, 151, 250);
    padding: 1em;
    border-radius: 0.5em;
}

.logo {
    width: 3em;
}

.banner {
    padding: 1em;
    background-color: rgb(202, 241, 255);
    text-align: center;
}

.content {
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.pages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.card {
    height: 15em;
    width: 15em;

    display: flex;
    flex-direction: column;
    border: 1pt, solid, black;
    border-radius: 2pt;
    align-items: center;
}

.card-image {
    height: 70%;
    width: 100%;
    background-color: grey;
}

.card-title {
    font-size: 125%;
    padding: 0.5em;
}